.form-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 5px;
    /* background-color:rgba(0, 0, 0, .5); */
    font-weight: 1000px;
    
}
label{
    height: 50px;
    width: 200px;
}
.one{
    width: 500px;
    border-style: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color:transparent;
    
}
.two{
    width: 105px;
}

body{
    background: url(download\ \(1\).jpg);
    background-repeat:no-repeat;
    background-size: cover;
    border: black solid;
}
body-main{
    background-color:beige;
}

